@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

:root {
    --team-builder-top-color: #EA5454;
    --supervisor-top-color: #44D3D2;
    --karma-top-color: #FCAE4A;
    --calculator-top-color: #549EF2;
    --page-background-color: #FAFAFA;
    --card-background-color: #FFFFFF;

    --font-color: #4D4F62;

    --card-width: 21.875rem;
    --card-shadow: 0 15px 30PX -11px rgba(131, 166, 210, 0.5);
}


/* Box sizing rules */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;

  padding: 5.25rem 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4.75rem;

  text-align: center;

  color: var(--font-color);
  background-color: var(--page-background-color);
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  /* line-height: 1.1; */
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* BASE STYLES */
p {
    font-family: 'Poppins', sans-serif;
    opacity: 50%;
    letter-spacing: 0.1px;
}

/* HEADER STYLES */
header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 540px;
}

h1 {
    font-size: 1.5rem;
}

h1 * {
    display: block;
    letter-spacing: 0.17px;
}

h1 span {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}

h1 strong {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

header p {
    font-size: 0.9375rem;
}

.container {
    display: grid;
    gap: 1.5625rem;
}

.card {
    text-align: left;
    max-width: var(--card-width);
    background-color: var(--card-background-color);
    box-shadow: var(--card-shadow);

    padding: 1.75rem;

    display: flex;
    flex-direction: column;

    border-radius: 8px;
}

.card h2 {
    margin-bottom: 1px;
    font: 600 1.25rem/1.5 'Poppins', sans-serif;
}

.card p {
    margin-bottom: 2rem;
    font-size: 0.8125rem;
}

.card img {
    width: 3.5625rem;
    align-self: flex-end;
}

.card-supervisor {
    border-top: 4px solid var(--supervisor-top-color);
}

.card-team {
    border-top: 4px solid var(--team-builder-top-color);
}

.card-karma {
    border-top: 4px solid var(--karma-top-color);
}

.card-calc {
    border-top: 4px solid var(--calculator-top-color);
}

footer {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

@media all and (min-width: 800px) {
    .container {
        grid-template: repeat(2, auto) / repeat(2, auto);
    }
}

@media all and (min-width: 1200px) {

    h1 {
        font-size: 2.25rem;
    }

    .container {
        grid-template: repeat(2, auto) / repeat(3, auto);
        grid-template-areas: 
            "supervisor team-builder karma"
            "supervisor calculator karma";
    }

    .card {
        padding: 2rem;
    }

    .card p {
        margin-bottom: 2.5rem;
        margin-top: 6px;
    }

    .card-supervisor {
        grid-area: supervisor;
        align-self: center;
    }

    .card-team {
        grid-area: team-builder;
    }

    .card-karma {
        grid-area: karma;
        align-self: center;
    }

    .card-calc {
        grid-area: calculator;
    }
}